<ng-container>
    <div class="actions">
      <div class="title">
        <H1>Update Room</H1>
      </div>
    </div>
    <div class="form">
      <form [formGroup]="roomForm">
        <div class="content">
          <div class="content-left">
            <div class="roomField">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Room Name" formControlName="name">
              </mat-form-field>
              <div class="errors" *ngIf="submitted && errorHandling('name','required')">Room Name is required</div>
            </div>
            <div class="typeField">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Type" formControlName="type" readonly>
              </mat-form-field>
              <div class="errors" *ngIf="submitted && errorHandling('type','required')">Type is required</div>
              
            <div class="typeField">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Max count" formControlName="limit" type="number" min="2" max="20" readonly>
              </mat-form-field>
              <div class="errors" *ngIf="submitted && errorHandling('limit','required')">Max count is required</div>
            </div>
            </div>
            <div class="status">
              <div class="status-dot" [ngClass]="{'active' : roomForm.get('status')?.value == 'live'}"></div>
              <div class="status-text">{{roomForm.get('status')?.value}}</div>
          </div>
          </div>
          <!-- <div class="avatar">
            <div class="avatar-upload">
              <div class="avatar-edit">
                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
              </div>
              <div class="avatar-preview">
                <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'">
                </div>
              </div>
            </div>
            <div class="avatar-action">
              <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">Upload Image</button>
            </div>
          </div> -->
        </div>
        
        <div class="buttons">
          <button (click)="cancel()" style="margin-right: 5px" mat-raised-button>Cancel</button>
          <button (click)="update()" mat-raised-button color="primary">Update</button>
        </div>
      </form>
    </div>
  </ng-container>