<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
  <div class="profile-text"><a  class=""> DucMH <i class="ti-angle-down font-12 m-l-5"></i></a></div>
  
</div>
<mat-nav-list appAccordion>
  <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" >
      <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
          <mat-icon>{{ menuitem.icon }}</mat-icon> 
          <span>{{ menuitem.name }}</span> 
          <span fxFlex></span> 
      </a>
  </mat-list-item>
</mat-nav-list>