<ng-container>
  <div class="actions">
    <div class="title"><H1>Users</H1></div>
    <!-- <div class="action"><button (click)="create()" mat-raised-button color="primary">Create</button></div> -->
  </div>
  <div class="mat-elevation">
    <table mat-table [dataSource]="dataSource">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Avatar Column -->
      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let element"><img  [src]="element.avatar" class="user-avatar" alt="Photo of a Shiba Inu"></td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name || ''}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <!-- <button mat-icon-button color="accent" (click)="edit(element)">
            <mat-icon>edit</mat-icon>
          </button> -->
          <button mat-icon-button color="warn" (click)="delete(element)">
            <mat-icon>block</mat-icon>
          </button>
          <!-- <button mat-icon-button color="primary" (click)="detail(element)">
            <mat-icon>info</mat-icon>
          </button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</ng-container>